@model Assessment7.Models.Dish
@{
    ViewBag.Title = "Dish";
}

<h2>Register a Dish</h2>






<form action="~/Home/NewDish" method="post">

    <label> Dish Name: <input type="text" name="DishName" required /> </label> <br />

    <label> Description: <input type="text" name="DishDescription" required /> </label> <br />

    <label>
        Food Option? <select name="FoodOption">
            <option value="Main">Main</option>
            <option value="Side">Side</option>
            <option value="Veg">Veg</option>
            <option value="Desert">Desert</option>
        </select>
    </label>

    <br />

    <label> First and Last name:<input type="text" name="PersonName" required pattern="[A-Z][a-z ]+[A-Z][a-z]+" /> </label> <br />

    <label> Phone Number (no dashes or spaces!):<input type="text" name="PhoneNumber" required pattern="[0-9]{10}" /> </label> <br />

    <input type="submit" class="btn-default" /> <br />


</form>