@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>REGISTER FOR THE HOLIDAY PARTY NOW!!!</h1>
    <p class="lead">The Holiday Party is soon, so you had better get on it!.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>REGISTER!</h2>
        <p>
            Click here to sign up if you have not already!
        </p>
        <p><a class="btn btn-default" href="~/Home/Register/">RSVP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BRING A DISH!</h2>
        <p>Click here to register to bring a dish!</p>
        <p><a class="btn btn-default" href="~/Home/Dish/">BRING DISH! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VIEW OR EDIT A DISH!</h2>
        <p>Click here to view all dishes!!</p>
        <p><a class="btn btn-default" href="~/Home/DishIndex/">VIEW/EDIT DISH! &raquo;</a></p>
    </div>
</div>